* {
  padding:0;
  margin:0;
}

hr { border-color:rgba(0, 0, 0, 0.4); }

.hsContent > a { color: white; }

.bar {
  clear: both;
  height: 1px;
  width: 100%;
}

#form { width: 300px; }

#form > p {
  margin-bottom: 10px;
  width: 100%;
}
   
.hsContent {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 0 auto;
  padding: 50px;
  padding-top: 20px;
  width: 900px;
}
   
.hsContainer {
  color: white;
  display: table-cell;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  vertical-align: middle;
}

.box-shawdow-inset {
  background:#ecf0f1 !important;
  -webkit-box-shadow: inset 0px 8px 169px -34px rgba(0,0,0,0.13);
  -moz-box-shadow: inset 0px 8px 169px -34px rgba(0,0,0,0.13);
  box-shadow: inset 0px 8px 169px -34px rgba(0,0,0,0.13);
  color:#2c3e50;
}

.social-icon-large {
  background: white;
  border-radius: 30px;
  float: left;
  margin:30px;
  margin-top: -10px;
  padding: 15px;
  width: 2em;
}

.large-fa { font-size: 30px; }

.info-blob {
  height: 425px; 
  float: left;
  margin: 5px;
}

.info_row {
  height: 490px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}


.info-blob > h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

.info-blob > p {
  font-size: 16px;
  margin-top: 1em;
}

.info-blob > i { font-size: 72px; }

.center-block {
  display: block;
  width: 80%;
}

.bio-strip-pic {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 75px;
  display: inline-block;
  float: left;
  height: 150px;
  margin-top: -30px;
  width: 150px;
}

.bio-strip-content {
  display: inline-block;
  float: right;
  width: 80%;
}

.bio-strip-content > p {
  font-size: 26px;
  margin-top: 0;
  text-align: left;
}

.bio-strip-nametag {
  clear: both;
  display: inline-block;
  float: left;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-bottom: 4em;
  text-align: center;
  width: 150px;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

html, body {
  height: 100%;
  text-align: center;
}

.skrollr-desktop body { height:100% !important; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

p { margin:1em 0; }

/* Profile Pictures/GIFs */
#derek_bio { background-image: url(../images/profiles/derek.jpg); }
#derek_bio:hover { background-image: url(http://goo.gl/a29VKh); }
#greg_bio { background-image: url(../images/profiles/greg.jpg); }
#greg_bio:hover { background-image: url(http://goo.gl/PmoxhV); }
#jeff_bio { background-image: url(../images/profiles/jeff.jpg); }
#jeff_bio:hover { background-image: url(http://goo.gl/Hw4YyL); }

/*-----------------------------
|                             | 
| Skrollr CSS                 |
|                             |
------------------------------*/

.parallax-image-wrapper {
  left: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.parallax-image-wrapper-50 {
  height: 50%;
  top: -50%;
}

.parallax-image-wrapper-75 {
  height: 75%;
  top: -75%;
}

.parallax-image-wrapper-100 {
  height: 100%;
  top: -100%;
}

.parallax-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  width: 100%;
}

.parallax-image-50 {
  height: 200%;
  top: -50%;
}

.parallax-image-75 {
  height: 150%;
  top: -33%;
}

.parallax-image-100 {
  height: 100%;
  top: 0;
}

.parallax-image.skrollable-between { display: block; }

.no-skrollr .parallax-image-wrapper { display: none !important; }

#skrollr-body {
  height: 100%;
  overflow: visible;
  position: relative;
}

.gap {
  background: transparent center no-repeat;
  background-size: cover;
}

.skrollr .gap { background: transparent !important; }

.gap-50 { height: 50%; }

.gap-100 {
  height: 100%;
  width: 100%;
}

.header, .content {
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
}

.content-full { height: 100%; }

#done { height: 125%; }

#done > p > a {
  color: black;
  cursor: text;
}

#done > div > a {
  color: black;
  cursor: default;
}

#done > p > a:hover {
  cursor: text;
  text-decoration: none;
}

#done > div > a:hover {
  cursor: default;
  text-decoration: none;
} 
